HELLO WORLD => THIS IS PYTHON CHEAT SHEET 
AUTHOR : M.S.VISHWANATH

Variables and Data Types

In [89]:
word:str = "Vishwanath"
digit:int = 20
decimal:float = 200.20
nani:bool = True
ice_creams:list = ["Vanilla", "Strawberry", "Chocolate"]
ice_creams_set:set = set(["Vanilla", "Strawberry", "Chocolate"])
data:dict = {"name":"Vish"}
sample_set:set = {1, 2, 3}
example_tuple:tuple = (1, 2, 3)
none_value:None = None
complex_number:complex = 3 + 5j
matrix:list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(type(word), word)
print(type(digit), digit)
print(type(decimal), decimal)
print(type(nani), nani)
print(type(ice_creams), ice_creams)
print(type(ice_creams_set), ice_creams_set)
print(type(data), data)
print(type(sample_set), sample_set)
print(type(example_tuple), example_tuple)
print(type(none_value), none_value)
print(type(complex_number), complex_number)
print(type(matrix), matrix)

<class 'str'> Vishwanath
<class 'int'> 20
<class 'float'> 200.2
<class 'bool'> True
<class 'list'> ['Vanilla', 'Strawberry', 'Chocolate']
<class 'set'> {'Strawberry', 'Vanilla', 'Chocolate'}
<class 'dict'> {'name': 'Vish'}
<class 'set'> {1, 2, 3}
<class 'tuple'> (1, 2, 3)
<class 'NoneType'> None
<class 'complex'> (3+5j)
<class 'list'> [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [93]:
ice_creams_set.add(5)
print(ice_creams_set)  # Output: {1, 2, 3, 4, 5}
ice_creams_set.remove(5)    # Removes 5
ice_creams_set.discard(6)   # Doesn't raise an error if 6 is not in the set
print(ice_creams_set)       # Output: {1, 2, 3, 4}
ice_creams_set.clear()
print(ice_creams_set)  # Output: set()

{'Strawberry', 5, 'Vanilla', 'Chocolate'}
{'Strawberry', 'Vanilla', 'Chocolate'}
set()

In [94]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Using union() method
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

# Using | operator
union_set2 = set1 | set2
print(union_set2)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [95]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Using intersection() method
intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {3}

# Using & operator
intersection_set2 = set1 & set2
print(intersection_set2)  # Output: {3}

{3}
{3}

In [97]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Using difference() method
difference_set = set1.difference(set2)
print(difference_set)  # Output: {1, 2}

# Using - operator
difference_set2 =  set2 - set1
print(difference_set2)  # Output: {1, 2}

{1, 2}
{4, 5}

In [98]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Using symmetric_difference() method
sym_diff_set = set1.symmetric_difference(set2)
print(sym_diff_set)  # Output: {1, 2, 4, 5}

# Using ^ operator
sym_diff_set2 = set1 ^ set2
print(sym_diff_set2)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}
{1, 2, 4, 5}

In [102]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Subset check
print(set1.issubset(set2))  # Output: True

# Superset check
print(set1.issuperset(set2))  # Output: True

True
False

In [109]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Disjoint check
print(set1.isdisjoint(set2))  # Output: True

True

In [110]:
my_set = {3, 1, 4, 2}

print(len(my_set))       # Output: 4
print(min(my_set))       # Output: 1
print(max(my_set))       # Output: 4
print(sorted(my_set))    # Output: [1, 2, 3, 4]

4
1
4
[1, 2, 3, 4]

Control Flow and Functions

In [26]:
# if else 
if(False):
    print("IF")
else:
    print("ELSE")

ELSE

In [27]:
# if elif 
if(False):
    print("IF")
elif(False):
    print("ELIF")
elif(True):
    print("ELIF 2")

ELIF 2

In [34]:
# for loop 
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [33]:
for i in range(3,5,1):
   print(i)

3
4

In [30]:
for i in range(len(ice_creams)):
    print(ice_creams[i])

Vanilla
Strawberry
Chocolate

In [31]:
for i,vish2 in enumerate(ice_creams):
    print(vish2)

Vanilla
Strawberry
Chocolate
0
1
2
3
4

In [37]:
for i in range(5):
    print(i)
else:
    print("Loop finished without break.")

0
1
2
3
4
Loop finished without break.

In [39]:
for i in range(5):
    if i == 3:
        continue  # Skip the iteration when i equals 3
    print(i)

0
1
2
4

In [42]:
for row in matrix:
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [52]:
print(" ".join(map(str,ice_creams)))

Vanilla Strawberry Chocolate

In [53]:
for row in matrix:
    print(" ".join(map(str, row)))

1 2 3
4 5 6
7 8 9

In [38]:
while(True):
    print("NANI")
    break;

NANI

In [57]:
for i in range(1, 5):
    print("* " * i)

*
* *
* * *
* * * *

In [77]:
for i in range(4, 0,-1):

    print("* " * i)

* * * *
* * *
* *
*

In [83]:
for i in range(1, 5, 1):
    print(" " * (4 - i) + "* " * i)

   *
  * *
 * * *
* * * *

In [87]:
for i in range(4, 0, -1):
    print(" " * (4 - i) + "* " * i)

* * * *
 * * *
  * *
   *

TIME FOR DSA

In [127]:
fruits = ["apple", "banana", "mango"]
numbers = [1, 2, 3, 4, 5]
mixed = [1, "two", 3.0, True]

In [128]:
fruits.append("grape")      # Add at end
fruits.insert(1, "kiwi")    # Insert at index 1
print(fruits)

['apple', 'kiwi', 'banana', 'mango', 'grape']

In [129]:
fruits.remove("mango")  # Removes by value
print(fruits)
fruits.pop()             # Removes last
print(fruits)
fruits.pop(1)            # Removes by index
print(fruits)

['apple', 'kiwi', 'banana', 'grape']
['apple', 'kiwi', 'banana']
['apple', 'banana']

In [131]:
fruits[0] = "orange"
print(fruits)

['orange', 'banana']

In [132]:
len(fruits)     # Length
sum(numbers)    # Sum (only for numeric list)
min(numbers)    # Min value
max(numbers)    # Max value
sorted(numbers) # Sorted version

[1, 2, 3, 4, 5]

In [152]:
datas = [1, 2, 3, 4, 5, 6, 7, 8]
print(datas[::-1])

[8, 7, 6, 5, 4, 3, 2, 1]